.content-container {
  display: flow-root;
  /* заставляет блок создавать отдельный блочный контекст форматирования. Без побочных эффектов. */
}

button {
  cursor: pointer;
}

/* main button */
.main__button {
    background-color: var(--secondary-text);
    color: var(--general-white);
    font-family: 'Circe';
    font-weight: normal;
    border: hidden;
    border-radius: 50px;
    transition: 500ms;
  }
  
  .main__button:hover {
    box-shadow: 0 5px 10px var(--button-shadow);
  }
  
  .main__button:focus {
    box-shadow: 0 5px 10px var(--button-shadow);
    outline: none;
  }
/* ___________________________________ */

/* icon social web */
.social-icons {
  padding: 10px;
  max-width: 40px;
  border-radius: 50%;
  background-color: var(--general-white);
  font-size: 18px;
  color: var(--secondary-text);
  text-decoration: none;
  font-family: "icomoon";
  transition: 500ms;
}

.social-icons:hover {
  background-color: var(--background);
}

.social-icons:focus {
  background-color: var(--background); 
}
/* ___________________________________ */

  .section-title--text {
      font-size: 44px;
  }

  .section-subtitle--text {
    font-size: 40px;
    line-height: 14px;
    font-family: 'IntroScriptR';
    font-style: normal;
  }

.article--subtitle,
.article--text {
    font-size: 20px;
    font-family: "Circe";
}

  /* container for image and description ( < image name description > ) */
  .content-container--img-text-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* arrow svg button */
.button-arow {
  background-color: var(--invisible-bg);
  outline: none;
  border: hidden;
}

.button-arow__svg-el {
  width: 30px;
  fill: var(--secondary-text);
}

/* counter right bottom corner */
.cake-counter--text {
  text-align: end;
  font-size: 18px;
  font-family: 'Circe';
}

.mobile-carusel,
.mobile-carusel--item {
  display: none;
}

.mobile--only {
  display: none;
}

  /* for tablets  */
@media only screen and (max-width:768px) {
    .mobile--only {
      display: none;
  }

  .content-container--img-text-buttons {
      flex-direction: column;
      width: 100%;
  }

  .mobile-carusel,
  .mobile-carusel--item {
  display: none;
}
}

/* for mobile */
@media only screen and (max-width:480px) {
    .mobile--only {
      display: block;
  }

  .mobile--hidden {
    display: none;
}

  .content-container {
    display: flex;
    flex-direction: column;
  }
  
  .main__button {
    margin: 25px auto;
 }

  .article--subtitle,
  .article--text {
    font-size: 10px;
    font-family: "Circe";
}

  .button-arow {
    display: none;
  }

  .mobile-carusel {
    display: block;
    text-align: center;
  }

  .mobile-carusel--item {
    margin: 0 2px 0;
    padding: 5px;
    font-size: 1px;
    line-height: 5px;
    color: var(--invisible-bg);
    background-color: var(--mobile-carusel);
    border-radius: 50%;
    display: inline;
}

  .mobile-carusel--item:hover {
    background-color: var(--secondary-text);
  }

  .mobile-carusel--item:focus {
    background-color: var(--secondary-text);
  }
}