.container-exp {
    width: 100vw;
    background-color: aquamarine;
    padding: 20px 40px;
    box-sizing: border-box;
}

div[class^="exp-"] {
    float: left;
    border: 1px dashed green;
}

.exp-lg-col {
    width: 100%;
    background-color: rgb(187, 112, 14);
}

.exp-md-col {
    width: 50%;
    background-color: blueviolet;
}

.exp-sm-col {
    width: 33%;
    background-color: blue;
}


.image {
    max-width: 100%;
}


@media only screen and (max-width:1240px){
    .exp-sm-col {
        width: 50%;
        background-color: blueviolet;
    }
}

@media only screen and (max-width:760px){
    .exp-sm-col {
        width: 50%;
        background-color: rgb(56, 48, 65);
    }

    .exp-md-col {
        width: 100%;
        background-color: blueviolet;
    }
}

@media only screen and (max-width:760px){
    .exp-sm-col {
        width: 100%;
        background-color: rgb(40, 9, 70);
    }
}