.header__container {
  padding-top: 55px;
  width: 90%;
  margin: 0 auto;
}

.main__header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  background-color: #fbebea;
}

.header__title {
  font-size: 27px;
  line-height: 32px;
  font-family: 'PlayfairDisplay';
  font-weight: bold;
  margin: 0px 47px 0 0;
}

.main_nav_burger-button {
  display: none;
}

.main__header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 13px;
  font-family: 'Circe';
}

.nav-link:hover {
  color: var(--secondary-text);
}

.nav-link:focus {
  color: var(--secondary-text);
  outline: none;
}

.telephone-number {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Circe';
  margin-left: 20%;
}

.strawbarry_decorations {
  max-width: calc(100vw / 3);
  position: absolute;
  top: 90px;
  left: 24%;
  z-index: -1;
}

.main__cake-image {
  max-width: 100%;
  position: absolute;
  top: 104px;
  left: 41%;
  z-index: -1;
}

.main__content-container {
  padding: 90px 65px 250px;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../img/main_section_bg_image.png);
  background-position-x: 354px;
  background-position-y: -18px;
}

.main__title--text {
  font-size: 98px;
  line-height: 65px;
  font-family: 'PlayfairDisplay';
  font-weight: bold;
  margin-bottom: 0;
}

.main__hand-made--text {
  margin: 40px 0 0 10px;
}

.main__info {
  width: 38%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0 0;
}

.main__info--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.svg_item {
  width: 50px;
  fill: var(--secondary-text);
}

.main__info--text {
  font-family: 'Circe';
  font-weight: bold;
  font-size: calc(100vw / 100);
  margin-left: 20px;
}


/* design for desktop (1240px) */
@media only screen and (max-with:1240){
  .telephone-number {
    margin-left: 0;
  }
}

/* design for tablets (768 PX) */

@media only screen and (max-width:768px) {
  .header__container {
    background-color: var(--general-white);
  }

  .main__header{
    background-color: var(--general-white);
    position: relative;
  }

  .header__title {
    font-size: 37px;
  }

  .main_nav_burger-button {
    display: block;
    position: absolute;
    top: -36px;
    left: 136px;
    font-size: 85px;
    outline: none;
    border: none;
    background-color: var(--invisible-bg);
  }

  .main_nav_burger-button:hover {
    color: var(--secondary-text);
  }

  .main_nav_burger-button:active {
    color: var(--secondary-text);
  }

  .main__header__nav {
    align-items: self-end;
    flex-direction: column;
  }

  .resp-nav-link {
    display: none;
  }
  
  .mobile-menu {
    width: max-content;
    position: absolute;
    top: 70px;
    left: 13%;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border-radius: 1%;
    background-color: var(--general-white);
  }

  .mobile-menu > a {
    display: inline;
    visibility: visible;
    font-size: calc(100vw / 30);
    margin: 0;
  }

  .telephone-number {
    font-size: 20px;
  }

  .strawbarry_decorations {
    top: 136px;
    left: 27%;
  }

  .main__cake-image {
    top: 137px;
    left: 43%;
  }

  .main__info {
    width: 50%;
  }

  .main__info--text {
    margin-left: 10px;
  }
}

/* design for mobile (480 PX) */

@media only screen and (max-width:480px) {
  .header__container {
    padding: 15px 27px 14px;
  }
  
  .header__title {
    font-size: 28px;
  }

  .main_nav_burger-button {
    top: -45%;
    left: 93%;
    font-size: 52px;
  }

  .mobile-menu {
    width: 70%;
    left: 30%;
    font-size: calc(100vw / 25);
  }

  .telephone-number {
    display: none;
  }

  .strawbarry_decorations {
    display: none;
  }

  .main__cake-image {
    top: -241px;
    left: -13%;
    z-index: -2;
    max-width: 126vw;
    transform: rotateZ(17deg);
  }

  .main__content-container {
    margin-top: 32%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__title--text {
    text-align: center;
    font-size: calc(100vw / 7);
    line-height: calc((100vw / 5) / 2);
  }

  .main__hand-made--text {
    font-size: calc(100vw / 15);
    line-height: calc((100vw / 4) / 2);
  }

  .main__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }

  .svg_item {
    width: calc(100vw / 10);
    height: calc(100vw / 5);
  }

  .main__info--text {
    font-size: calc(100vw / 25);
    margin-left: 20px;
  }
}
