.how-order__section {
  margin-top: 0px;
  padding: 15px 70px 40px;
  background: linear-gradient(90deg, #e73840, #d32532);
  background-image: url(../img/hand_box_card.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position-y: -10vw;
  background-position-x: -25vw;
  color: var(--general-white);
}

.how-order__title__text {
  width: 40%;
  margin: 5% 0 0 62%;
}

.how-order__content-container {
  width: 60%;
  margin-left: 40%;
}

.how-order--title-number {
  font-family: "PlayfairDisplay", serif;
  font-size: 60px;
  margin: 0;
}

.how-order__article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20%;
}

.how-order__article-row {
  width: 80%;
  margin: 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.how-order-text__container {
  width: 100%;
  margin-left: 22px;
}

/* 1240px design  */
@media only screen and (max-width: 1240px) {
  .how-order__section {
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-y: 0;
    background-position-x: -30vw;
  }
}

/* design for tablets (768 PX) */
@media only screen and (max-width: 768px) {
  .how-order__section {
    padding: 15px 70px 73px;
    background-size: 150%;
    background-position-y: 0;
    background-position-x: -45vw;
  }

  .how-order__title__text {
    width: 45%;
    margin: 26px 0 0 253px;
    font-size: 31px;
  }

  .how-order__article {
    align-items: flex-start;
    margin-left: 0;
  }

  .how-order--title-number {
    font-family: "PlayfairDisplay", serif;
    font-size: 33px;
    margin: 0;
  }
}

/* design for mobile */
@media only screen and (max-width: 480px) {
  .how-order__section {
    padding: 15px 70px 235px;
    background-size: 151%;
    background-color: #e73940;
    background-position-y: 477px;
    background-position-x: -28px;
  }

  .how-order__title__text {
    width: 100%;
    margin: 24px 0 0 0;
    font-size: 41px;
    text-align: center;
  }

  .how-order__content-container {
    width: 100%;
    margin-left: 0;
  }

  .how-order__article-row {
    width: 100%;
    margin: 40px 0 0;
  }

  .how-order--main-text {
    line-height: 18px;
  }
}
